* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #666;
}
section header {
    background-color: #666;
    padding: 100px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 25%;
    background: #fff;
    padding: 20px;
  }
  nav {
    float: left;
    width: 25%;
    background: #fff;
    padding: 20px;
  }

  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
    text-decoration: none;
    position: relative;
    display: inline-table;
  }
